<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>menu items</title>
	  
	   <script src="https://unpkg.com/vue@next"></script>  <!-- vue.js -->
      <!-- bootstrap, need to use https for these links -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      
  </head>
  <body>
  
      <div class="container" id='main'>
         <h2>Select a Menu</h2>
		<p>Page Loaded: {{time_loaded}}</p>

         <div style='padding: 5px;'>    
            <select  v-on:change="getMeal()" v-model='meal'>
                <option value='breakfast'>Breakfast</option>
                <option value='lunch'>Lunch</option>
                <option value='dinner'>Dinner</option>
            </select> Select a Menu
         </div>
      
  
         <div v-show="showTable">
            <h3>Meal: {{meal}}</h3>
            <table class='table'>
                <tr> <th>Item Name</th> <th>Category</th><th>Portion</th></tr>
                <tr v-for="dish in menu_items"> 
                  <td> {{dish.name}} </td><td> {{dish.category}}</td><td> {{dish.portion}} </td>
                </tr>
            </table>
        
           
        </div>
                
            <br><br>
            <p>Menu Data originally provided by  <a href='https://manual.cs50.net/api/food/'>manual.cs50.net/api/food/</a></p>
		      <p>Menu items were originally from the Harvard University Dining Services. The above link is very old, and no longer leads to information on the food API, and I can find no updated information on attribution.</p>
            <p>CS 50 is a popular intro to computer science course offered by Harvard University.</p>       
     
     </div>   <!-- end class='container'   -->
  
<script src = 'app.js'></script>   <!-- vue.js application code -->

</body></html>
